.l{
    color: lawngreen;
}
.a{
    text-align: center;
    color: rgb(248, 7, 224);
    background-color: rgb(215, 9, 57);
    border: 2px solid crimson;
}
.p{
    color: rgb(225, 8, 8);
}
.h{
    color: blue;
    background-color: blanchedalmond;
}