.tamim{
    margin: 0px;
}
.rayhan{
   background-color: rgb(74, 217, 74);
   border: 1px solid;
}
.mohib{
    background-color: rgb(41, 41, 179);
    border: 1px solid;
}
.abdurrohoman{
    background-color: red;
}
.abc{
    margin: 0px;
}
.bb{
    margin: 0px;
}
.mm{
    background-color: rgb(80, 77, 74);
}
.mo{
    text-decoration-color: rgb(100, 95, 87);
}